body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-center {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0.95;
  background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/11/netflix-android-2521107.jpg");
  height: 100vh;
   }

   .form-edit {
     z-index: 90;
     background: rgba(0, 0, 0, 0.85);
     border-radius: 10px;
     box-sizing: border-box;
     padding: 60px;
     max-width: 450px;
     border: 1px solid white;

   }

.text-muted {
  color: red
}

#button-submit {
  color: white;
  background-color: red;
  width: 300px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



