.nav {
  position: static;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 20px;
  height: 20px;
  left: 0;
  justify-content: space-between;

  

}

.header-netflix{
background-color: black ;
height: 70px;
}

body {
  background-color: black;
}

.user {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 40px;
}


.nav_logo {
  position: sticky;
  left: 20px;
  width: 80px;
  padding-top: 15px;
}


